[submodule "riscv-binutils"]
	path = riscv-binutils
	url = ../hope-riscv-binutils-gdb.git
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = ../hope-riscv-gcc.git
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = ../hope-riscv-newlib.git
[submodule "riscv-gdb"]
	path = riscv-gdb
	url = ../hope-riscv-binutils-gdb.git
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = https://github.com/riscv/riscv-glibc
