[submodule "riscv-binutils-gdb"]
	path = riscv-binutils-gdb
	url = ../hope-riscv-binutils-gdb
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = ../hope-riscv-gcc
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = ../hope-riscv-newlib
